In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
data= pd.read_csv("D:\Bhanuteja Files\data analytics\student.csv")
data

,Timestamp,Name,RollNo,Age,Gender,SSC GPA,Caste,Standard,Year of joining,Most Fav Sport,Which sector you are interested in?,Pursuing B.Tech With,Do You have backlogs,Hobbies,Your best skill
0,04/01/2023 08:41:43,Bakam Anusri,19VD1A0501,21,Female,9.7,OBC,B.TECH 4TH YEAR,2019,BadMinton,Private Sector,Self Interest,No,Books,Communication Skills
1,03/01/2023 19:54:33,ARUN KUMAR,19VD1A0503,20,Male,8.0,ST,B.TECH 4TH YEAR,2019,Cricket,Private Sector,Self Interest,No,"Sports, Music, Books, Dance",Critical Thinking & Problem Solving
2,03/01/2023 19:55:02,Ankola Ashritha,19VD1A0504,21,Female,9.2,OBC,B.TECH 4TH YEAR,2019,Online Games,Private Sector,Self Interest,No,"Music, Books",Logical thinking
3,03/01/2023 20:00:32,Dharavath Chenna kesavulu,19VD1A0508,21,Male,7.0,ST,B.TECH 4TH YEAR,2019,BadMinton,Government Sector,Self Interest,No,"Sports, Music",Teamwork
4,03/01/2023 20:11:49,BUSHI DAVID SAMUEL,19VD1A0509,21,Male,7.4,OBC,B.TECH 4TH YEAR,2019,Cricket,Government Sector,Self Interest,No,Dance,Critical Thinking & Problem Solving
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,01/01/2023 20:09:27,Umadevi,22VD5A6608,20,Female,9.2,OBC,B.TECH 2ND YEAR,2022,Kabaddi,Private Sector,Self Interest,No,"Music, Books, Dance",Critical Thinking & Problem Solving
260,01/01/2023 19:20:21,GOSHIKA VARAHA NAGA HARSHINI,22VD5A6609,18,Female,8.7,SC,B.TECH 2ND YEAR,2022,Cricket,Government Sector,Self Interest,No,"Music, Books",Communication Skills
261,01/01/2023 19:19:18,Ganta Vinkitha,22VD5A6610,19,Female,9.8,OC,B.TECH 2ND YEAR,2022,BadMinton,Private Sector,Self Interest,No,"Sports, Music, Books",Communication Skills
262,01/01/2023 19:23:31,Basidi Vivek Teja,22VD5A6611,19,Male,8.5,OBC,B.TECH 2ND YEAR,2022,Online Games,Government Sector,Self Interest,No,"Arts, Music",Teamwork
263,03/01/2023 20:50:21,BODDU AKHILA,22VDIA6605,19,Female,8.3,OBC,B.TECH 1ST YEAR,2022,Online Games,Government Sector,Self Interest,No,Music,Logical thinking

In [3]:
data.head()

,Timestamp,Name,RollNo,Age,Gender,SSC GPA,Caste,Standard,Year of joining,Most Fav Sport,Which sector you are interested in?,Pursuing B.Tech With,Do You have backlogs,Hobbies,Your best skill
0,04/01/2023 08:41:43,Bakam Anusri,19VD1A0501,21,Female,9.7,OBC,B.TECH 4TH YEAR,2019,BadMinton,Private Sector,Self Interest,No,Books,Communication Skills
1,03/01/2023 19:54:33,ARUN KUMAR,19VD1A0503,20,Male,8.0,ST,B.TECH 4TH YEAR,2019,Cricket,Private Sector,Self Interest,No,"Sports, Music, Books, Dance",Critical Thinking & Problem Solving
2,03/01/2023 19:55:02,Ankola Ashritha,19VD1A0504,21,Female,9.2,OBC,B.TECH 4TH YEAR,2019,Online Games,Private Sector,Self Interest,No,"Music, Books",Logical thinking
3,03/01/2023 20:00:32,Dharavath Chenna kesavulu,19VD1A0508,21,Male,7.0,ST,B.TECH 4TH YEAR,2019,BadMinton,Government Sector,Self Interest,No,"Sports, Music",Teamwork
4,03/01/2023 20:11:49,BUSHI DAVID SAMUEL,19VD1A0509,21,Male,7.4,OBC,B.TECH 4TH YEAR,2019,Cricket,Government Sector,Self Interest,No,Dance,Critical Thinking & Problem Solving

In [4]:
data.tail()

,Timestamp,Name,RollNo,Age,Gender,SSC GPA,Caste,Standard,Year of joining,Most Fav Sport,Which sector you are interested in?,Pursuing B.Tech With,Do You have backlogs,Hobbies,Your best skill
259,01/01/2023 20:09:27,Umadevi,22VD5A6608,20,Female,9.2,OBC,B.TECH 2ND YEAR,2022,Kabaddi,Private Sector,Self Interest,No,"Music, Books, Dance",Critical Thinking & Problem Solving
260,01/01/2023 19:20:21,GOSHIKA VARAHA NAGA HARSHINI,22VD5A6609,18,Female,8.7,SC,B.TECH 2ND YEAR,2022,Cricket,Government Sector,Self Interest,No,"Music, Books",Communication Skills
261,01/01/2023 19:19:18,Ganta Vinkitha,22VD5A6610,19,Female,9.8,OC,B.TECH 2ND YEAR,2022,BadMinton,Private Sector,Self Interest,No,"Sports, Music, Books",Communication Skills
262,01/01/2023 19:23:31,Basidi Vivek Teja,22VD5A6611,19,Male,8.5,OBC,B.TECH 2ND YEAR,2022,Online Games,Government Sector,Self Interest,No,"Arts, Music",Teamwork
263,03/01/2023 20:50:21,BODDU AKHILA,22VDIA6605,19,Female,8.3,OBC,B.TECH 1ST YEAR,2022,Online Games,Government Sector,Self Interest,No,Music,Logical thinking

In [11]:
data.describe()

              Age     SSC GPA  Year of joining
count  264.000000  264.000000       264.000000
mean    19.041667    9.287879      2020.973485
std      1.270522    0.675371         1.040646
min     17.000000    7.000000      2019.000000
25%     18.000000    9.000000      2020.000000
50%     19.000000    9.500000      2021.000000
75%     20.000000    9.800000      2022.000000
max     22.000000   10.000000      2022.000000